.review_detail_btn{
    background-color: #000;
    font-size: 20px;
    color: #fff;
    border: none;
}

.review_file_btn {
    background-color: #000;
    font-size: 20px;
    color: #fff;
    border: none;
}